* {
	margin: 0px;
	padding: 0px;
}
.clearfix {
	*zoom: 1;
}

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}

.fl {
	float: left;
}

.fr {
	float: right;
}


/*site-nav*/

.sw {
	background:#B0743E;
    width: 100%;
}

.site-nav {
	width:1200px;
    margin: 0 auto;
    min-width: 965px;
	background:#B0743E;
	font-size: 12px;
	line-height: 26px;
	color: #fff;
}

.site-nav-right li {
	float: left;
	padding-left: 10px;
}

.site-nav-right .line {
	height: 12px;
	width: 1px;
	background: #fff;
	margin-top: 8px;
	padding: 0px;
	margin-left: 8px;
}

.site-nav-right a {
	text-decoration: none;
	color: #fff;
}


/*search*/
.search-all,.search-all-fixed{
	width: 100%;
	 font-size: 14px;
	 position: relative;
}
.search {
	width:1200px;
    margin: 0 auto;
}
.search-text {
	border: 1px solid #B0743E;
	width: 300px;
	height: 34px;
	padding-left: 10px;
	border-radius: 34px;
	margin-top: 24px;
	outline: none;
	line-height: 25px;
	font-size: 14px;
}

::-webkit-input-placeholder {
	color: #ccc;
}

.search-icon {
	margin-top: 20px;
}

.search-icons {
	background: url(../img/1_03.png)no-repeat;
	height: 32px;
	width:10%;
	position: absolute;
	top: 30px;
	right: 64px;
}

.search-form {
	position: relative;
	width:31%;
}

.search-form span {
	display: block;
	height: 22px;
	width: 2px;
	background: #B0743E;
	position: absolute;
	top: 30px;
	right: 110px;
}

.search-all-fixed{
	display: none;
	position: fixed;
	top:0px;
	background: rgba(255,255,255,0.8);
   	position: fixed;
    top:0px;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid #E8CEAB;
}
#menu {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 80px;
	 }
#nav {
    margin: 0 auto;
    width: 100%;
    
}
#nav .mainlevel {
	float:left;
  	text-align:center; 
  	display:block;
  }
#nav .mainlevel a {
	color:#B0743E; 
	text-decoration:none; 
	text-align:center; 
	padding:0 30px;
	display:block;
	line-height:34px; 
	height:34px;
	font-size: 20px;
	  }
#nav .mainlevel ul {
	position:absolute; 
	width:100%;
	margin: 0 auto;
	display:none;
	top:64px;
	left:0px;
	background:#B0743E;
	z-index: 9999;
	}
#nav .mainlevel li {
	float:left;
	list-style: none;
  }
  .sub_nav_01 .sub_navli{
  	margin-left:300px;
  	text-align: center;
  }
#nav .mainlevel li a {
	padding:0 56px;
	height: 60px;
	line-height: 60px;
	 display:block;
	}
 #nav .sub_nav_01 a{
	color: #FFFFFF;
	display: inline-block;
	font-size: 16px;
}
#nav .sub_nav_01 a:hover{
	font-weight: 700;
}
/*search end*/

.container {
	margin: 10px auto;
	width:1200px;
}
.content {
	width: 1200px;
	margin: 0px auto;
}
.banner01,.banner02 {
	width: 100%;
}
.banner01 {
	padding-top: 2px;
}
.banner02 {
	padding-top: 20px;
}
/* .floorNav  li {
	list-style: none;
	display: inline-block;
}
.icon-jiantou {
	vertical-align: middle;
}
.brand {
	font-size: 12px;
	color: #333;
	text-align: center;
	font-weight: bold;
}
.icon-home {
	vertical-align: middle;
} */
.hufu h4 {
	color: #b0743e;
	font-size: 28px;
        font-family: "微软雅黑";
        font-weight:500;
	padding-left: 60px;
	margin-top: 60px;
}
.fenge01 {
	padding-left: 190px;
	margin-top: -62px;
}
.p1 {
	font-size: 22px;
	color: #cf9561;
	font-family: "微软雅黑";
        font-weight:400;
	padding-left: 60px;
	padding-top: 20px;
	letter-spacing: 1px;
}
.p2 {
	font-size: 22px;
	color: #666;
	font-family: "微软雅黑";
        font-weight:300;
	padding-left: 60px;
	padding-top: 10px;
	letter-spacing: 1.2px;
	width: 560px;
	line-height: 40px;
}
.pic01 {
	margin-left: 720px;
	margin-top: -600px;
	margin-bottom: 40px;
	width: 438px;
	display: inline-block;
}
.caizhuang h4 {
	color: #b0743e;
	font-size: 28px;
        font-family: "微软雅黑";
        font-weight:500;
	margin-left: 585px;
	margin-top: 100px;
	
}
.fenge02 {
	padding-left:715px;
	margin-top: -62px;
}
.p3 {
	font-size: 22px;
	color: #cf9561;
	font-family: "微软雅黑";
        font-weight:400;
	padding-left: 585px;
	padding-top: 20px;
	letter-spacing: 1px;
}
.p4 {
	font-size: 22px;
	color: #666;
	font-family: "微软雅黑";
        font-weight:300;
	padding-left: 585px;
	padding-top: 10px;
	letter-spacing: 1.2px;
	width: 560px;
	line-height: 40px;
}
.pic02 {
	padding-left: 62px;
	margin-top: -540px;
	margin-bottom: -26px;
	width: 434px;
	display: inline-block;
}
/*footer*/

.footer-all {
	width: 100%;
	margin-top: 100px;
	background:#333333;
}

.footer {
	height: 250px;
	margin: 0 auto;
	width: 90%;
    background:#333333;
}
.footer-middle {
	height: 2px;
	width: 1200px;
	border-radius: 2px;
	background: #FFFFFF;
}

.footer-top-left {
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 38px;
	line-height: 30px;
	padding-bottom: 20px;
}

.footer-top-right1 {
	padding-top: 56px;
	padding-left: 80px;
	text-align: center;
}

.footer-top-right2 {
	padding-top: 56px;
	text-align: center;
}

.footer-top p {
	font-size: 14px;
	padding-top: 6px;
	color: #ffffff;
}

.footer-bottom {
	padding-top: 16px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}

