@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;				/*清除列表风格*/
}
img {
    border: 0;
    vertical-align: middle;
}
a {
   
    text-decoration: none;
}

/*  去掉图片低测默认的3像素空白缝隙*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}
.page {
	
	text-align: center;
	padding:50px 0;
	position: relative;
}
.page ul{
	position: absolute;
	left: 560px;
	top:40px;
}
.page li{
	float: left;	
	background:#fff;
	 width: 28px;
    height: 28px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}
.page .current{
background-color: #b0743d;
}