@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;				/*清除列表风格*/
}
img {
    border: 0;
    vertical-align: middle;
}
a {
   
    text-decoration: none;
}

/*  去掉图片低测默认的3像素空白缝隙*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

.w {
    /*版心 提取 */
    width: 1200px;
  /*  margin: 0 auto;*/
}

.fl {
    float: left
}

.fr {
    float: right
}


/*site-nav*/

.sw {
	background:#B0743E;
    width: 100%;
}

.site-nav {
	width:1200px;
    margin: 0 auto;
    min-width: 965px;
	background:#B0743E;
	font-size: 12px;
	line-height: 26px;
	color: #fff;
}

.site-nav-right li {
	float: left;
	padding-left: 10px;
}

.site-nav-right .line {
	height: 12px;
	width: 1px;
	background: #fff;
	margin-top: 8px;
	padding: 0px;
	margin-left: 8px;
}

.site-nav-right a {
	text-decoration: none;
	color: #fff;
}


/*search*/
.search-all,.search-all-fixed{
	width: 100%;
	 font-size: 14px;
	 position: relative;
}
.search {
	width:1200px;
    margin: 0 auto;
}
.search-text {
	border: 1px solid #B0743E;
	width: 300px;
	height: 34px;
	padding-left: 10px;
	border-radius: 34px;
	margin-top: 24px;
	outline: none;
	line-height: 25px;
	font-size: 14px;
}

::-webkit-input-placeholder {
	color: #ccc;
}

.search-icon {
	margin-top: 20px;
}

.search-icons {
	background: url(../img/1_03.png)no-repeat;
	height: 32px;
	width:10%;
	position: absolute;
	top: 30px;
	right: 64px;
}

.search-form {
	position: relative;
	width:31%;
}

.search-form span {
	display: block;
	height: 22px;
	width: 2px;
	background: #B0743E;
	position: absolute;
	top: 30px;
	right: 110px;
}

.search-all-fixed{
	display: none;
	position: fixed;
	top:0px;
	background: rgba(255,255,255,0.8);
   	position: fixed;
    top:0px;
    left: 0;
    z-index: 10000;
    border-bottom: 1px solid #E8CEAB;
}
#menu {
    font-size: 18px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 80px;
	 }
#nav {
    margin: 0 auto;
    width: 100%;
    
}
#nav .mainlevel {
	float:left;
  	text-align:center; 
  	display:block;
  }
#nav .mainlevel a {
	color:#B0743E; 
	text-decoration:none; 
	text-align:center; 
	padding:0 30px;
	display:block;
	line-height:34px; 
	height:34px;
	font-size: 20px;
	  }
#nav .mainlevel ul {
	position:absolute; 
	width:100%;
	margin: 0 auto;
	display:none;
	top:64px;
	left:0px;
	background:#B0743E;
	z-index: 9999;
	}
#nav .mainlevel li {
	float:left;
	list-style: none;
  }
  .sub_nav_01 .sub_navli{
  	margin-left:300px;
  	text-align: center;
  }
#nav .mainlevel li a {
	padding:0 56px;
	height: 60px;
	line-height: 60px;
	 display:block;
	}
 #nav .sub_nav_01 a{
	color: #FFFFFF;
	display: inline-block;
	font-size: 16px;
}
#nav .sub_nav_01 a:hover{
	font-weight: 700;
}
/*search end*/


.ly-wrap{
	height:500px;
	background:red;
}
.ly-main{
	margin: 40px auto;
/*	background:#ccc;*/
	
}
.ly-main h3{
	margin-bottom: 74px;;
	font-size:30px;
	text-align: center;
	font-weight: 400;
}
.ly-main h3 span{
	color:#e8ceab;
}
.ly-main-cnt{
	padding:0 40px;
}
.map p{
	margin-bottom:10px;
}
.ly-main-cnt .txt{
	margin-top: 84px;
}
.ly-main-cnt .txt li{
	line-height:60px;
	padding-left:34px;
}
.ly-main-cnt .one{
	background:url(../img/pos.png) no-repeat 0 14px;
}
.ly-main-cnt .two{
	background:url(../img/phone.png) no-repeat 0 14px;
}
.ly-main-cnt .three{
	background:url(../img/call.png) no-repeat  0 14px;
}
.ly-main-cnt .four{
	background:url(../img/email.png) no-repeat  0 16px;
}
.ly-main-cnt .five{
	background:url(../img/map.png) no-repeat  0 14px;
}
.ly-main-right{
	margin-left:72px;
/*	margin-top:30px;*/
	width: 552px;
	text-align: center;
}
.ly-main-cnt input{
	display: block;
	width:552px;
	height: 38px;
	border:1px solid #CCCCCC;
	border-radius: 3px;
	padding-left: 5px;
	outline:none;
	margin-bottom: 30px;
}
::-webkit-input-placeholder{
	color:#666;
}
.ly-main-cnt #ly-frame{
	padding-left: 5px;
	padding-top: 5px;
	color:#888;
	width:100%;
	height:200px;
	border-radius: 3px;
}
.ly-main-cnt #btn1,.ly-main-cnt #btn2{
	
	display: inline-block;
	width: 116px;
	height: 36px;
	background:#cf9561;
	color:#fff;
	margin-right:40px;
	margin-top: 40px;
}
/*footer*/

.footer-all {
	margin-top: 40px;
	width: 100%;
	background:#333333;
}

.footer {
	height: 250px;
	margin: 0 auto;
	width: 90%;
    background:#333333;
}
.footer-middle {
	height: 2px;
	width: 1200px;
	border-radius: 2px;
	background: #FFFFFF;
}

.footer-top-left {
	font-size: 12px;
	color: #FFFFFF;
	padding-top: 38px;
	line-height: 30px;
	padding-bottom: 20px;
}

.footer-top-right1 {
	padding-top: 56px;
	padding-left: 80px;
	text-align: center;
}

.footer-top-right2 {
	padding-top: 56px;
	text-align: center;
}

.footer-top p {
	font-size: 14px;
	padding-top: 6px;
	color: #ffffff;
}

.footer-bottom {
	padding-top: 16px;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}
